@model Proyecto_Final_Estructura_De_Datos.Models.Servicio

@{
    ViewData["Title"] = "Crear Servicio";
	Layout = "~/Views/Admin/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Servicio</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<script src="~/js/custom_validates.js"></script>
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="NombreServicio" class="control-label">Nombre de servicio</label>
				<input asp-for="NombreServicio" class="form-control" placeholder="Nombre"/>
				<span asp-validation-for="NombreServicio" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Descripcion" class="control-label">Descripción del servicio</label>
				<input asp-for="Descripcion" class="form-control" placeholder="Descripción"/>
				<span asp-validation-for="Descripcion" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Precio" class="control-label">Precio por el servicio</label>
				<input asp-for="Precio" id="positive-numbers" class="form-control" placeholder="1.00"/>
				<span asp-validation-for="Precio" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Crear servicio" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
