@{
    ViewData["Title"] = "Habitaciones";
}

 <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
	        <span class="breadcrumb"><a href="#">Nuestras</a></span>
          <h3>Habitaciones</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="single-property section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="main-image">
            <img src="assets/images/single-property.jpg" alt="">
          </div>

          <div class="main-content">
            <span class="category">Hotel</span>
            <h4>Hotel 5 Estrellas</h4>
            <p>Ubicado en el corazón de un paraíso tropical, nuestro hotel de lujo redefine la experiencia de hospitalidad con su atención al detalle y servicios excepcionales. Con una arquitectura moderna que armoniza con la belleza natural del entorno, nuestras habitaciones y suites ofrecen vistas panorámicas al océano, jardines exuberantes y piscinas cristalinas. Cada espacio está diseñado para brindar confort y exclusividad, con amenidades de última generación, decoración elegante y un servicio personalizado disponible las 24 horas.

            <br><br>En nuestras instalaciones, encontrarás un spa de clase mundial, restaurantes gourmet con cocina internacional y local, y una amplia gama de actividades para todas las edades, desde deportes acuáticos hasta tours culturales. Ya sea que nos visites por negocios o por placer, nuestro compromiso es superar tus expectativas en cada momento. Descubre un oasis de lujo donde la calidad, la atención y el cuidado están en cada detalle.</p>
          </div> 
          <div class="accordion" id="accordionExample">

            <a href="#actual" id="actual"><div class="accordion-item" >
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                  Mejores Apartados del Hotel ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Este hotel se destaca por su servicio personalizado disponible las 24 horas, instalaciones de lujo con vistas espectaculares y un diseño elegante que prioriza la comodidad. Ofrece un spa de clase mundial, experiencias gastronómicas excepcionales con cocina local e internacional, y una variedad de actividades para todas las edades, desde deportes acuáticos hasta tours culturales. Ideal tanto para viajes de negocios como de placer, combina atención al detalle y calidad para superar cualquier expectativa.
                </div>
              </div>
            </div>
</a>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Donde estamos ?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Ubicado en un paraíso tropical, nuestro hotel combina lujo, comodidad y atención al detalle para ofrecerte una experiencia inolvidable. Con vistas panorámicas al océano y jardines exuberantes, cada habitación y suite está diseñada con elegancia y equipada con amenidades de última generación. Nuestro spa de clase mundial y restaurantes gourmet te invitan a disfrutar momentos de relajación y deleite culinario, mientras una amplia gama de actividades, desde deportes acuáticos hasta tours culturales, garantiza entretenimiento para todos. Ya sea por negocios o placer, aquí encontrarás un oasis donde la calidad y el servicio superan todas tus expectativas.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Porque somos los mejores ?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Somos los mejores porque combinamos lujo, confort y atención personalizada en un entorno único. Ofrecemos experiencias excepcionales, desde servicios de clase mundial hasta actividades inolvidables, superando siempre las expectativas de nuestros huéspedes.
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="info-table">
            <ul>
              <li>
                <img src="assets/images/info-icon-01.png" alt="" style="max-width: 52px;">
                <h4>90 km2<br><span>Instalaciones</span></h4>
              </li>
              <li>
                <img src="assets/images/info-icon-03.png" alt="" style="max-width: 52px;">
                <h4>Habitaciones<br><span>Pago Seguro</span></h4>
              </li>
              <li>
                <img src="assets/images/info-icon-04.png" alt="" style="max-width: 52px;">
                <h4>Seguridad<br><span>Seguridad 24/7 </span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

