@{
    ViewData["Title"] = "Servicios";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="#">Nuestros</a></span>
          <h3>SERVICIOS</h3>
        </div>
      </div>
    </div>
  </div>


  <div class="section properties">
  <div class="container">
    <ul class="properties-filter">
      <li>
        <a class="is_active" href="#!" data-filter="*">Mostrar Todos</a>
      </li>
      <li>
        <a href="#!" data-filter=".adv">Restaurantes y Transportes</a>
      </li>
      <li>
        <a href="#!" data-filter=".str">Bienestar y Confort</a>
      </li>
      <li>
        <a href="#!" data-filter=".rac">Entretenimiento y Experiencias</a>
      </li>
    </ul>
    <div class="row properties-box">
      @foreach (Servicio servicio in ViewBag.Servicios)
      {
        <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6">
          <div class="item">
            <a href="#"><img/></a>
            <span class="category">@servicio.NombreServicio</span>
            <h6>@servicio.Precio.ToString("C")</h6>
            <h4>@servicio.NombreServicio</h4>
            <p>@servicio.Descripcion</p>
            <ul>
            </ul>
            <div class="main-button">
              <a asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="reservaB">Hacer Reservación</a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  </div>

